@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*body {
  background: black;
  background-size: cover;
}*/

/*.welcome {
  font-family: Montserrat;
  font-size: 50px;
  width: 50px;
  color: white;
  position: relative;
  top: 15rem;
  left: 35rem;
  text-align: center;
  font-style: bold;
}*/

/*.login_button {
  font-family: Montserrat;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 17rem;
  left: 39.5rem;
}*/

/*.login_button:hover {
  color: white;
}*/

/*.lock_img {
  width: 35px;
  height: auto;
  padding-right: 10px;
}*/